$color: rgb(190, 230, 180);
$color-dark: darken($color, 55%);
$color-light: lighten($color, 5%);
.frame {
    position: absolute;

    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 125% 125%;
    color: $color-dark;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    width: 600px;
    height: 380px;
    background: white;
    box-shadow: 4px 8px 16px 0 darken($color-dark, 10%);
    .left {
        position: absolute;
        left: 0;
        width: 290px;
        height: 380px;
        overflow: hidden;
        
        .info {
            position: absolute;
            text-align: center;
            top: 74px;
            width: 100%;
            div {
                display: flex;
                flex-direction: row;
                span {
                    margin: 12px;
                }
            }
        }

        .buttons {
            position: absolute;
            text-align: center;
            bottom: 32px;
            width: 100%;
            height: 80px;
            button {
                padding-top: 2px;
                text-transform: capitalize;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                color: $color-dark;
                width: 120px;
                height: 26px;
                margin: 8px 0;
                background: white;
                border-radius: 15px;
                border: none;
                box-shadow: 0 0 0 1px $color-dark;
                cursor: pointer;
                &:hover {
                    background: $color-dark;
                    color: white;
                }
            }
        }
    }
    .right {
        right: 0;
        width: 300px;
        height: 380px;
        display: flex;
        flex-direction: column;
        .stats {
            flex: 1;
            height: 100px;
            background: $color-light;
            box-shadow: 0 -1px white;
            cursor: pointer;
            & > div {
                display: flex;
                flex-direction: row;
                margin: 12px;
                & > span {
                    flex: 1;
                }
            }
            &:hover {
                background: $color;
            }
        }
    }
}
.left {
    float: left;
}
.right {
    float: right;
}

//loading Css
$spinner: salmon;
$background: white;
$size:30px;
.spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    animation: spinner 0.75s linear infinite;
    margin:25% 50%;
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    .spinnerinner1 {
      background: linear-gradient(to right, rgba($spinner,0) 0%,rgba($spinner,0) 50%,$spinner 51%);
    }
    
    .spinnerinner2 {
      background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
    }
    
    .spinnerinner3 {
      $offset: $size * 0.1;
      top: $offset;
      left: $offset;
      width: $size - ($offset * 2);
      height: $size - ($offset * 2);
      background: $background;
    }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }